LUSH_AGENT_PORT=7331
LUSH_APP_ORIGIN=http://127.0.0.1:1420
LUSH_AUTH_JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
LUSH_AGENT_PROVIDER=fireworks
LUSH_AGENT_MODEL=glm-5.2
# LUSH_AGENT_API_KEY=
