LUSH_API_PORT=7330
LUSH_API_HOST=0.0.0.0
LUSH_APP_ORIGIN=http://localhost:1420,http://127.0.0.1:1420
LUSH_AGENT_PROVIDER=fireworks
LUSH_AGENT_MODEL=glm-5.2
# LUSH_AGENT_API_KEY=
# FIREWORKS_API_KEY=
# BASETEN_API_KEY=
